/* Resetear los estilos predeterminados del navegador */
body,
h1 {
    margin: 0;
    padding: 0;
}

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
    color: aliceblue;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el encabezado */
header {
    background-image: url("../Resources/HEADER.jpg");
    background-size: cover;
    padding: 25px 0;
    text-align: center;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}

/* Estilos para el logotipo en el encabezado */
.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* Ajusta la altura según tus necesidades */
    box-shadow: #0e0e0e;
}

.header_logo img {
    max-width: 100%;
    /* Asegura que el logotipo no sea demasiado grande */
    max-height: 100%;
    /* Asegura que el logotipo no sea demasiado alto */
}

/* Estilos para la barra de navegación */
nav {
    background-color: rgba(0, 119, 255, 0.281);
    /* Color de fondo de la barra de navegación */
    color: white;
    /* Color del texto en la barra de navegación */
    padding: 7px 0;
    /* Espaciado interno en la barra de navegación */
}


.menu {
    list-style-type: none;
    /* Elimina las viñetas de la lista */
    padding: 0;
    margin: 0;
    text-align: center;
    /* Centra los elementos de la lista horizontalmente */
}

.menu a {
    text-decoration: none;
    /* Quita la subrayado de los enlaces */
    color: white;
    /* Color del texto en los enlaces */
    font-weight: bold;
    /* Establece el grosor de la fuente en negrita */
    font-size: 18px;
    /* Tamaño de fuente de los enlaces */
    margin: 0 20px;
    /* Espaciado entre elementos de la lista */
    transition: color 0.3s;
    /* Transición de color suave al pasar el cursor sobre los enlaces */
}

.menu a:hover {
    color: #33b4ff;
}

.formulario{
    background-color: red;
    width: 500px;
    height: 500px;
    text-align: center;
    align-items: center;
}

/* Estilos para el contenido principal */
.cuerpo {
    padding: 20px;
    margin-left: 5px;
    text-align: justify;
    display: flex;
    /* Agrega esta línea para activar el contenedor flexible */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */
    justify-content: space-between;
    /* Distribuye los elementos horizontalmente */
}

.texto_intr {
    width: 50%;
    background-color: rgba(0, 18, 39, 0.281);
    padding: 20px;
    border: 2px solid transparent;
    /* Cambiamos el color del borde a transparente */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el tamaño total */
    color: white;
    justify-content: center;
    text-align: center;
    position: relative;
    /* Para poder utilizar la pseudo-clase ::before */
}

/* Agregamos un efecto de neón en los bordes */
.texto_intr::before {
    content: "";
    position: absolute;
    top: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    right: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    bottom: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    left: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    border: 2px solid #33b4ff;
    /* Color azul para el resplandor */
    opacity: 0;
    /* La opacidad inicial es 0 */
    border-radius: 5px;
    /* Ajusta según tu preferencia */
    transition: opacity 0.3s;
    /* Transición suave de la opacidad */
}

/* Agregamos un efecto de neón al pasar el cursor */
.texto_intr:hover::before {
    opacity: 1;
    /* Mostrar el resplandor al pasar el cursor */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
}

/* Estilos para el div de horario */
.informacion {
    width: 250px;
    background-color: rgba(0, 119, 255, 0.281);
    padding: 20px;
    border: 2px solid transparent;
    /* Cambiamos el color del borde a transparente */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el tamaño total */
    color: white;
    justify-content: center;
    text-align: center;
    position: relative;
    /* Para poder utilizar la pseudo-clase ::before */
}

/* Agregamos un efecto de neón en los bordes */
.informacion::before {
    content: "";
    position: absolute;
    top: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    right: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    bottom: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    left: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    border: 2px solid #33b4ff;
    /* Color azul para el resplandor */
    opacity: 0;
    /* La opacidad inicial es 0 */
    border-radius: 5px;
    /* Ajusta según tu preferencia */
    transition: opacity 0.3s;
    /* Transición suave de la opacidad */
}

/* Agregamos un efecto de neón al pasar el cursor */
.informacion:hover::before {
    opacity: 1;
    /* Mostrar el resplandor al pasar el cursor */
}


/* Estilos para los encabezados dentro del div de horario */
.informacion h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para los párrafos dentro del div de horario */
.informacion p {
    font-size: 14px;
    margin: 0;
}

.inf {
    background-color: rgba(0, 12, 26, 0.767);
    border: 2px solid transparent;
    /* Cambiamos el color del borde a transparente */
    text-align: center;
    color: aliceblue;
    position: relative;
    /* Para poder utilizar las pseudo-clases ::before y ::after */
}

/* Agregamos un efecto de resplandor al texto */
.inf::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-shadow: 0 0 10px white;
    /* Agregamos un resplandor blanco al texto */
}

/* Agregamos un efecto de resplandor en los bordes */
.inf::after {
    content: "";
    position: absolute;
    top: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    right: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    bottom: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    left: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    border: 2px solid white;
    /* Color blanco para el resplandor del borde */
    border-radius: 5px;
    /* Ajusta según tu preferencia */
    opacity: 0;
    /* La opacidad inicial es 0 */
    transition: opacity 0.3s;
    /* Transición suave de la opacidad */
}

/* Agregamos un efecto de resplandor al pasar el cursor */
.inf:hover::after {
    opacity: 1;
    /* Mostrar el resplandor al pasar el cursor */
}

.ser {
    background-color: rgba(0, 12, 26, 0.767);
    border: 2px solid transparent;
    /* Cambiamos el color del borde a transparente */
    text-align: center;
    color: aliceblue;
    position: relative;
    /* Para poder utilizar las pseudo-clases ::before y ::after */
}

/* Agregamos un efecto de resplandor al texto */
.ser::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-shadow: 0 0 10px white;
    /* Agregamos un resplandor blanco al texto */
}

/* Agregamos un efecto de resplandor en los bordes */
.ser::after {
    content: "";
    position: absolute;
    top: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    right: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    bottom: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    left: -2px;
    /* Ajusta según tu preferencia para el resplandor */
    border: 2px solid white;
    /* Color blanco para el resplandor del borde */
    border-radius: 5px;
    /* Ajusta según tu preferencia */
    opacity: 0;
    /* La opacidad inicial es 0 */
    transition: opacity 0.3s;
    /* Transición suave de la opacidad */
}

/* Agregamos un efecto de resplandor al pasar el cursor */
.ser:hover::after {
    opacity: 1;
    /* Mostrar el resplandor al pasar el cursor */
}

li {
    font-size: 14px;
}

.formulario{
    background-color: red;
    width: 500px;
    height: 500px;
    text-align: center;
    align-items: center;
}